/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

:root {
    --dark: #131313;
    --dark-two: #424242;
    --gray: #727272;
    --bg-color: #FFF4E7;
}

/* common styles or utilities */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.primary-btn {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
}

/*-------------------------
        header styles 
---------------------------*/
/* navigation styles */
header {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

nav {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 40px;
    color: var(--dark);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-menu li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--dark);
    transition: color .2s;
}

.nav-menu li a:hover {
    color: rgba(0, 0, 0, 0.35);
}


/* banner section styles */
.banner-section {
    padding: 50px 100px 20px;
}

.banner-info {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 50px;
    font-weight: 700px;
    color: var(--dark);
}

.banner-desc {
    margin: 25px 0;
    color: var(--gray);
}

.banner-img {
    width: 100%;
}

.banner-img>img {
    width: 100%;
}


/*-------------------------
        main styles 
---------------------------*/
/* Feature section one styles */
.feature-section-one {
    padding: 50px 150px;
    display: flex;
    gap: 70px;
    align-items: center;
}

.feature-img {
    width: 55%;
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-img>img {
    width: 100%;
}

.feature-info {
    width: 40%;
}

.feature-title {
    font-size: 38px;
}

.feature-desc {
    margin: 25px 0;
    color: var(--gray);
}


/* Feature section two styles */
.feature-section-two {
    height: 1000px;
    padding: 50px 100px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: center;
}

.feature-info-two {
    width: 42%;
}

.feature-title-two {
    font-size: 38px;
    padding-left: 20px;
    color: var(--dark);
    border-left: 5px solid hsla(350, 93%, 61%, 1);
}

.feature-desc-two {
    margin: 20px 0;
    color: var(--gray);
}

.feature {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    color: var(--dark);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.feature>h3 {
    font-size: 20px;
}

.feature>p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;

}

.feature-img-two {
    height: 850px;
    width: 48%;
    position: relative;
}

.feature-img-two>img {
    width: 100%;
    height: 92%;
}

.experience-btn {
    position: absolute;
    left: -70px;
    bottom: 0px;
    padding: 30px;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    background: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
}

.experience-btn>h3 {
    font-size: 45px;
    font-weight: 700;
}

.experience-btn>p {
    font-size: 20px;
    font-weight: 500;
}


/* some-facts section styles */
.facts-section {
    padding: 50px 100px;
}

.facts-info {
    width: 40%;
}

.facts-title {
    font-size: 38px;
    color: var(--dark);
}

.facts-desc {
    margin: 25px 0;
    color: var(--gray);
    line-height: 25px;
}

.facts {
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
}

.fact {
    text-align: center;
    padding: 30px;
    border: 1px solid hsla(350, 93%, 61%, 1);
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.fact:hover {
    cursor: pointer;
}

.fact img {
    width: 45px;
}

.fact h4 {
    font-size: 38px;
    color: var(--dark-two);
    margin: 10px;
}

.fact p {
    color: var(--gray);
}


/*---animation effect on hover 
using transition & before/after--*/

.fact::before,
.fact::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    transition: .5s;
}

.fact::before {
    top: -2px;
    left: 50%;
    width: 0;
    height: 5px;
}

.fact::after {
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 5px;
}

.fact:hover::before {
    width: 100%;
    left: 0;
    cursor: pointer;
}

.fact:hover::after {
    width: 100%;
    left: 0;
}

.animation::before,
.animation::after {
    content: '';
    position: absolute;
    background: linear-gradient(90deg, hsla(350, 93%, 61%, 1) 0%, hsla(8, 98%, 59%, 1) 100%);
    transition: .5s;
}

.animation::before {
    top: 50%;
    left: -2px;
    width: 5px;
    height: 0;
}

.animation::after {
    top: 50%;
    right: -2px;
    width: 5px;
    height: 0;
}

.fact:hover .animation::before {
    height: 100%;
    top: 0;
}

.fact:hover .animation::after {
    height: 100%;
    top: 0;
}


/* feedback section styles */
.feedback-section {
    padding: 100px;
    background-color: var(--bg-color);
}

.feedback-title {
    font-size: 38px;
    text-align: center;
    color: var(--dark);
}

.feedback-container {
    margin-top: 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.feedback {
    width: 300px;
    padding: 80px 15px 15px;
    text-align: center;
    position: relative;
    border-radius: 7px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    background-color: white;
}

.feedback>img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -45px;
    left: 100px;
}

.feedback>h4 {
    font-size: 20px;
    color: var(--dark);
}

.ratings i {
    font-size: 14px;
    color: #FFC014;
}

.feedback>p {
    font-size: 14px;
    color: var(--dark-two);
    line-height: 20px;
    margin: 10px 0;
}

.see-more {
    text-align: center;
    color: hsla(350, 93%, 61%, 1);
    font-size: 20px;
    padding: 20px 0 0;
}

/* sponsor section styles */
.sponsor-section {
    padding: 100px 100px 50px;
}

.sponsor-info {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.sponsor-title {
    font-size: 38px;
}

.sponsor-desc {
    color: var(--gray);
    margin: 24px 0;
}

.sponsor-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
    gap: 20px;
}


/* footer styles */
.footer {
    margin: 0 100px 150px;
    padding: 35px 0;
    background-color: var(--bg-color);
    text-align: center;
}

.footer>p {
    font-size: 18px;
    color: var(--dark-two);
}

.hide {
    display: none;
}


/*-------------------------
        Media Query
---------------------------*/
@media only screen and (max-width: 576px) {

    nav,
    .banner-section,
    .feature-section-one,
    .feature-section-two,
    .facts-section,
    .facts {
        margin-bottom: 40px;
        padding: 25px;
        flex-direction: column;
    }

    nav,
    .nav-menu,
    .facts {
        align-items: center;
        gap: 20px;
    }

    .logo>h2 {
        font-size: 28px;
    }

    .nav-menu li a {
        font-size: 16px;
    }

    .banner-info,
    .feature-info,
    .feature-section-two,
    .feature-info-two,
    .feature-img-two,
    .facts-info,
    .sponsor-info {
        width: 100%;
        height: 100%;
    }

    .banner-title {
        font-size: 40px;
    }

    .feature-img {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    .feature-title,
    .feature-title-two,
    .facts-title,
    .feedback-title {
        font-size: 32px;
    }

    .experience-btn {
        left: 0;
        bottom: 0px;
        padding: 20px;
    }

    .experience-btn>h3 {
        font-size: 38px;
    }

    .feedback-section,
    .sponsor-section {
        padding: 50px 25px;
    }

    .feedback-container {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .sponsor-companies {
        justify-content: center;
    }

    .footer {
        margin: 0;
        padding: 25px 20px;
        font-size: 16px;
    }
}